.header {
  background: purple;
  height: 100px;
}

.div {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px;
}

.title {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

.subtitle {
  color: black;
}

.paragraph {
  color: black;
}

.article {
  padding: 10px;
  margin: 10px;
  background: aqua;
}

.section {
  display: flex;
}

.article {
  flex: 1 200px;
}

.article:nth-of-type(3) {
  flex: 3 200px;
  display: flex;
  flex-flow: column;
}

.article:nth-of-type(3) div:first-child {
  flex: 1 100px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

.button {
  flex: 1;
  margin: 5px;
  font-size: 18px;
  line-height: 1.5;
}
