.footer {
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 24px;
}

.copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #d9dbe1;
}
