.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.link {
  color: white;
  text-decoration: underline;
}

.copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #d9dbe1;
}
